<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner bread-inner-nav">
          <ul class="bread-list">
            <li><a routerLink="">Home</a><i class="ti-arrow-right"></i></li>
            <li class="active"><a routerLink="#">Product-details</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Blog Single -->
<section class="blog-single section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="blog-single-main">
          <div class="row">
            <div class="col-12">
              <div class="fluid-contents">
                <div class="image">
                  <img src="{{ product.imageUrl }}" alt="#">
                </div>
                <div class="comments shop-home-list"><br/><br/>
                  <span class="comment-title">Number of sales : 120</span>
                  <span class="comment-title">Price : {{ product.unitPrice | currency:' DT' }}</span>
                  <button class="button-add-cart" (click)="addToCart()"><i class="fa fa-shopping-bag fa-1x"></i> Add to cart</button>
                </div>
              </div>
              <div class="blog-detail comments">
                <h3 class="blog-title">{{ product.name }}</h3>
                <h3 class="comment-title">Description :</h3>

                <div class="content">
                  <blockquote> {{ product.description }}.</blockquote>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="comments">
                <h3 class="comment-title">Comments (3)</h3>
                <!-- Single Comment -->
                <div class="single-comment">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>Alisa harm <span>At 8:59 pm On Feb 28, 2018</span></h4>
                    <p>Enthusiastically leverage existing premium quality vectors with enterprise-wide innovation
                      collaboration Phosfluorescently leverage others enterprisee Phosfluorescently leverage.</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
                <!-- Single Comment -->
                <div class="single-comment left">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>john deo <span>Feb 28, 2018 at 8:59 pm</span></h4>
                    <p>Enthusiastically leverage existing premium quality vectors with enterprise-wide innovation
                      collaboration Phosfluorescently leverage others enterprisee Phosfluorescently leverage.</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
                <!-- Single Comment -->
                <div class="single-comment">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>megan mart <span>Feb 28, 2018 at 8:59 pm</span></h4>
                    <p>Enthusiastically leverage existing premium quality vectors with enterprise-wide innovation
                      collaboration Phosfluorescently leverage others enterprisee Phosfluorescently leverage.</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
              </div>
            </div>
            <div class="col-12">
              <div class="reply">
                <div class="reply-head">
                  <h2 class="reply-title">Leave a Comment</h2>
                  <!-- Comment Form -->
                  <form class="form" action="#">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                          <label>Your Name<span>*</span></label>
                          <input type="text" name="name" placeholder="" required="required">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                          <label>Your Email<span>*</span></label>
                          <input type="email" name="email" placeholder="" required="required">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Your Message<span>*</span></label>
                          <textarea name="message" placeholder=""></textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group button">
                          <button type="submit" class="btn">Post comment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- End Comment Form -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="main-sidebar">

          <!-- Single Widget -->
          <div class="single-widget category">
            <h3 class="title">Blog Categories</h3>
            <ul class="categor-list">
              <li><a href="#">Men's Apparel</a></li>
            </ul>
          </div>
          <!--/ End Single Widget -->

          <!-- Single Widget -->
          <div class="single-widget newsletter">
            <h3 class="title">Newslatter</h3>
            <div class="letter-inner">
              <h4>Subscribe & get news <br> latest updates.</h4>
              <div class="form-inner">
                <input type="email" placeholder="Enter your email">
                <a href="#">Submit</a>
              </div>
            </div>
          </div>
          <!--/ End Single Widget -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Blog Single -->
