	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner bread-inner-nav">
						<ul class="bread-list">
							<li><a routerLink="">Home</a><i class="ti-arrow-right"></i></li>
							<li class="active"><a routerLink="about-us">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

<br/>
    <h1 id="h1">About 2 shop</h1><br/><br/>
    <div id="row">
      <section class="mapouter" id="col">
        <div class="gmap_canvas">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6381.356151610767!2d10.186307645629633!3d36.898048895765626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb74f415de29%3A0xfce0b348d2386b0a!2zMzbCsDUzJzUyLjQiTiAxMMKwMTEnMjQuNyJF!5e0!3m2!1sfr!2stn!4v1621767003113!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </section>

      <section class="about-us" id="col">
        <p id="p">
          2 shop was started back in 2021 by
          <strong>B.majdi</strong> && <strong>M.nadhir</strong>, The team started producing articles
          in April  2021.
        </p>
        <p id="p">
          We are located in Tunisia, Ariana-Ghazela Avenue. <br />Being an
          official Amason partner, we sell their articals at convenient prices. We
          focus on team-designed collaborations that appeal to our global
          community of global independents, creatives, and free-thinkers. We
          create articles to reflect the unbound lives we live and don't stop until
          we get it right.
        </p>
        <h2>Mission</h2>
        <p id="p">
          Our mission is what drives us to do everything possible to expand
          human potential. We do that by creating articles
          innovations, by making our products more sustainably, by building a
          creative and diverse global team and by making a positive impact in
          communities where we live and work. We strive to keep our work unique
          and smart, with room for a little magic. You can find us in Tunisia,
          and if the project is the right fit, we’d love to work with you.
          Feel free to drop us a line, here.
        </p>
      </section>
    </div><br/><br/>



    <section>

          	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<h1 id="h1">Our Team</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
  <br/><br/>
      <div id="row">
        <div class="col-md-6">
        <figure id="figure">
          <img src="assets/images/Teams/team-img-1.jpg" alt="" />
          <figcaption>
            <h3>Boulabiar majdi</h3>
            <p id="p">
              C.E.O of 2 shop ltd.
            </p>
          </figcaption>
        </figure></div>

        <div class="col-md-6">
        <figure id="figure">
          <img src="assets/images/Teams/team-img-2.jpg" alt="" />
          <figcaption>
            <h3>Nadhir mhadhbi</h3>
            <p id="p">Lead Salesman</p>
          </figcaption>
        </figure></div>

      </div>
    </section><br/><br/><br/>
